{% extends "layout.html" %}

{% block title %}{% if is_edit %}Edit {{ singularize(resource_label|default:resource)|title }}{% else %}New {{ singularize(resource_label|default:resource)|title }}{% endif %} - {{ title }}{% endblock %}

{% block page_title %}{% if is_edit %}Edit{% else %}Create{% endif %} {{ singularize(resource_label|default:resource)|title }}{% endblock %}
{% block page_header_actions %}
    {% if routes.index %}
      <a href="{{ routes.index }}" class="btn btn-secondary">
        <i class="iconoir-arrow-left"></i>
        Back to {{ resource_label|default:resource|title }}
      </a>
    {% endif %}
{% endblock %}

{% block content %}
  <div class="flex-1 p-8 overflow-y-auto">
    <div class="max-w-3xl bg-white border border-gray-200 rounded-xl p-8">
      {{ form_html|safe }}
    </div>
  </div>
{% endblock %}
